.appbar{
    background: rgba( 255, 255, 255, 0.8 );
    box-shadow: 0 1px 20px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: relative;
}